<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appregistroelectrico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRegistroElectrico">
        <!--><activity
            android:name=".Linear"
            android:exported="false" />
        <-->
        <activity
            android:name=".ShowElect"
            android:exported="false" />
        <activity
            android:name=".UpdateElect"
            android:exported="false" />
        <activity
            android:name=".DeleteElect"
            android:exported="false" />
        <activity
            android:name=".AddElect"
            android:exported="false" />
        <!-->
        <activity
            android:name=".Add_Elect"
            android:exported="false"
            android:label="@string/title_activity_add_elect"
            android:theme="@style/Theme.AppRegistroElectrico.NoActionBar" />
            <-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>